body{
	margin:0;
	padding:0;
	font-family: 'Montserrat', 'sans-serif', 'Century Gothic';

	background-image: url("../img/LandingBack/back.jpg");
	background-size:cover;
	background-attachment: fixed;
}

#leftContent{
	position:absolute;

	font-size:1.30vw;
	color:#fff;

	margin-left:2vw;

	top:50%;
	transform: translateY(-50%);
}

#leftContent img{
	width:30vw;

	
	margin-top:4vw;
}

#leftContent img#graphics{
	width:35vw;

	margin-top:-4vw;
}

.quadro{
	position:absolute;

	background:#fff;

	width:41vw;
	height:40vw;

	left:55%;
	top:50%;
	transform:translateY(-50%);

	border-radius: 0.50vw;

	box-shadow: 0 0 1vw #000;
}

.contentLanding{
	position:absolute;

	left:58%;
	top:50%;
	transform:translateY(-50%);

	font-size:1.30vw;
}

.contentLanding h2{
	font-size:2.30vw;
}

.contentLanding td{
	font-size:1.30vw;
}

.contentLanding input[type=text], input[type=email],select{
	height:2.40vw;
	width:21vw;

	border-radius:0.30vw;

	border: 0.10vw #000 solid;

	font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
	font-size:1.30vw;

	padding-left:0.20vw;
	padding-right:0.20vw;

	transition: .6s;
}

.contentLanding select{
	width:21.50vw;
	color:#fff;
	background:#363636;
}

.contentLanding input[type=text]:focus, input[type=email]:focus{
	background: #1C1C1C;
	color: #fff;
}

.contentLanding select:focus{
	background: #1C1C1C;
	color: #fff;
}

.btns{
	margin-top:2.60vw;
}

input[type=submit]{
	margin-top:2vw;

	font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
	font-size:1.30vw;

	border:none;

	height:3vw;
	width:27vw;

	cursor:pointer;

	color:#fff;
	background:#CD0000;

	transition:.3s;

	border-radius:0.20vw;
}

input[type=submit]:hover{
	background:#F3322E;
}

.container {
  display: block;
  position: relative;
  padding-left: 2.30vw;
  margin-bottom: 1vw;
  cursor: pointer;
  font-size: 1.30vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.70vw;
  width: 1.70vw;
  background-color: #B5B5B5;
}

.container:hover input ~ .checkmark {
  background-color: #696969;
}

.container input:checked ~ .checkmark {
  background-color: #1874CD;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.55vw;
  top: 0.30vw;
  width: 0.30vw;
  height: 0.70vw;
  border: solid white;
  border-width: 0 0.25vw 0.25vw 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.op{
	background: #1C1C1C;
}