@media(max-width:480px){
	body{
		background:white;
	}

	#tudo{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		margin-top:15vw;
		height:300vw;
	}

	#quadro{
		display:none;
	}

	.contentRightT{
		position:absolute;
		top:50vw;
		left:70vw;

		width:26vw;
		height:10vw;
		background:#1c1c1c;

		color:#fff;

		border: solid #fff 0.30vw;
		border-radius:0.30vw;
		box-shadow: 0 0 1vw #000;
	}

	.contentRightF{
		position:absolute;
		top:50vw;
		left:70vw;
	}

	#back{
		/*Altura e largura do botão definidas em VW para a responsividade*/
		width: 16vw;
		height:16vw;

		/*Localizando botão no fundo*/
		margin-left: 0.50vw;
		margin-top: 0vw;

		/*Tempo de transição*/
		transition: none;
	}

	#back:hover{
		/*Configurações da imagem do botão*/
		background: url("../img/backButton/back.png");
		background-size: 100%;
	}

	#back:active{
		/*Configurações da imagem do botão*/
		background: url("../img/backButton/backHover.png");
		background-size: 100%;
	}

	#canvas1{}

	#canvas2{}
}

@media (min-width: 481px) and (max-width: 767px){
	body{
		background:white;
	}

	#tudo{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);

		margin-top:15vw;
	}

	#quadro{
		display:none;
	}

	.contentRightT{
		position:absolute;
		top:50vw;
		left:70vw;

		width:26vw;
		height:10vw;
		background:#1c1c1c;

		color:#fff;

		border: solid #fff 0.30vw;
		border-radius:0.30vw;
		box-shadow: 0 0 1vw #000;
	}

	.contentRightF{
		position:absolute;
		top:50vw;
		left:70vw;
	}

	#back{
		/*Altura e largura do botão definidas em VW para a responsividade*/
		width: 16vw;
		height:16vw;

		/*Localizando botão no fundo*/
		margin-left: 0.50vw;
		margin-top: 1vw;

		/*Tempo de transição*/
		transition: none;
	}

	#back:hover{
		/*Configurações da imagem do botão*/
		background: url("../img/backButton/back.png");
		background-size: 100%;
	}

	#back:active{
		/*Configurações da imagem do botão*/
		background: url("../img/backButton/backHover.png");
		background-size: 100%;
	}
}

@media only screen 
  and (min-width: 768px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5){
  	body{
		background:white;
	}

	#tudo{
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);

		margin-top:15vw;
	}

	#quadro{
		display:none;
	}

	.contentRightT{
		position:absolute;
		top:50vw;
		left:70vw;

		width:26vw;
		height:10vw;
		background:#1c1c1c;

		color:#fff;

		border: solid #fff 0.30vw;
		border-radius:0.30vw;
		box-shadow: 0 0 1vw #000;
	}

	.contentRightF{
		position:absolute;
		top:50vw;
		left:70vw;
	}

	#back{
		/*Altura e largura do botão definidas em VW para a responsividade*/
		width: 16vw;
		height:16vw;

		/*Localizando botão no fundo*/
		margin-left: 0.50vw;
		margin-top: 1vw;

		/*Tempo de transição*/
		transition: none;
	}

	#back:hover{
		/*Configurações da imagem do botão*/
		background: url("../img/backButton/back.png");
		background-size: 100%;
	}

	#back:active{
		/*Configurações da imagem do botão*/
		background: url("../img/backButton/backHover.png");
		background-size: 100%;
	}
}