/*
	Telefones em paisagem e abaixo
	@media (max-width: 480px)
	
	Telefones em paisagem a tablet em retrato
	@media (max-width: 767px)

	Tablet em retrato a paisagem e desktop
	@media (min-width: 768px) and (max-width: 979px)
*/

/* Telefones em paisagem e abaixo */
@media (max-width: 480px) { 
    html, body{
		margin:0;
		padding:0;
	}

	.menuHome{
		/*Posição do menu*/
		position: absolute;

		/*Configurações de altura e largura do menu*/
		width: 100%;
		height: 18vw;

		/*Cor da div*/
		background: black;

		/*Maior prioridade para aparecer na frente de outras divs*/
		z-index: 100;
	}

	.menuHome img{
		margin-top:4vw;
		margin-left:2vw;
		width: auto;
		height:10vw;
		position: absolute;
		cursor: pointer;
	}

	/*Conteudo (links e btns) do menu*/
	#contentLink{
		display:none;
	}

	#menuMob{
		margin-top:-1vw;
		display: block;
		z-index:200;
	}

	#menuMob img{
		width: 20vw;
		height:20vw;

		margin-left:80%;
		margin-top:-4.50vw;
		position: absolute;
	}

	#menuMob img:active{
		content: url("../img/logo/menuIconAct.png");
	}

	.quadroTransp{
		position: absolute;
		width:60vw;
		height:60vw;
		background:white;
		margin-left:20vw;
		border-radius:1vw;
		display: none;	
	}

	#menuMob .menuList{
		width: 40vw;
		margin-left:20vw;
		margin-top:4.60vw;
	}

	#menuMob .menuList a li{
		top:0vw;
		width:100%;
		list-style: none;
		position: relative;
		display: none;
	}

	#menuMob .menuList a li{
		font-size: 5.70vw;
		color: black;
	}

	#slider{
		display: none;
	}

	#sliderMob{
		display:block;

		/*Slider escondido*/
		overflow: hidden;
	}

	#sliderMob figure{
		/*Tamanhos da figure*/
		width:100%;
		height:100%;

		/*Tipo de posição*/
		position: relative;

		/*Tamanho de 100% das imagens juntas*/
		width: 500%;
		margin: 0;
		left: 0;

		/*Animação do slider*/
		animation: 20s slider infinite;
	}

	#sliderMob figure .contentSlideMob img{
		/*Configurações da imagem*/
		width: 20%;
		float: left;

		height:130vw;
		background-attachment: fixed;
		background-size: cover;
	}

	#TitleBack{
		background:#1C1C1C;
		width:100%;
		height:43vw;
		color:#fff;
		margin-top:-5vw;

		
	}

	#TitleBack img{
		width:14.50vw;
		height:14.50vw;

		position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);

        margin-top:4vw;

        display: block;
	}

	#autoM{
		height:56vw;
		font-size:5.30vw;
	}

	#textoFuncTit{
		margin-top:16.40vw;
	}

	#tituloFuncionalidades{
		font-size:6vw;
	}

	#subtituloFuncionalidades{
		font-size:5vw;
		margin-top:-4vw;
	}

	.funcBloco{
		display:block;
		text-align: center;
		width:98%;
		margin:0;
	}

	#cadClientes{
		width:100%;
		margin-top: 6vw;
	}

	#visEventos{
		width:100%;
		margin-top:10vw;
	}

	#cadClientes{
		float: none;
	}

	#visEventos{
		float:none;
	}

	.funcBloco{
		padding-right:0;
		padding-left:0;
	}

	.funcBloco h4{
		font-size:5.50vw;
	}

	#cadClientes p{
		font-size:5vw;
		padding-right:4.30vw;
		padding-left:4.30vw;
	}

	#cliDatatables p{
		font-size:5vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#calcLucro p{
		font-size:5vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#agenda p{
		font-size:5vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#estEventos p{
		font-size:5vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#infoInferior{
		height:15vw;
		text-align: center;
	}

	#infoInferior p{
		/*Configurações de fonte*/
		font-size: 5vw;
	}
 }
 
/* Telefones em paisagem a tablet em retrato */
@media (min-width: 481px) and (max-width: 767px){
	html, body{
		margin:0;
		padding:0;
	}

	.menuHome{
		/*Posição do menu*/
		position: absolute;

		/*Configurações de altura e largura do menu*/
		width: 100%;
		height: 10vw;

		/*Cor da div*/
		background: black;

		/*Maior prioridade para aparecer na frente de outras divs*/
		z-index: 100;
	}

	.menuHome img{
		margin-top:1vw;
		margin-left:2vw;
		width: auto;
		height:8.60vw;
		position: absolute;
		cursor: pointer;
	}

	/*Conteudo (links e btns) do menu*/
	#contentLink{
		display:none;
	}

	#menuMob{
		margin-top:-2vw;
		display: block;
		z-index:200;
	}

	#menuMob img{
		width: 14vw;
		height:14vw;

		margin-left:80%;
		margin-top:-4.50vw;
		position: absolute;
	}

	#menuMob img:active{
		content: url("../img/logo/menuIconAct.png");
	}

	.quadroTransp{
		position: absolute;
		width:33vw;
		height:33vw;
		background:white;
		margin-left:47vw;
		border-radius:1vw;
		display: none;	
	}

	#menuMob .menuList{
		width: 40vw;
		margin-left:42vw;
		margin-top:4.60vw;
	}

	#menuMob .menuList a{
		width:100%;
		list-style: none;
		position: relative;
		display: none;
		top:5vw;
	}

	#menuMob .menuList a{
		font-size: 3.60vw;
		color: black;
	}

	#TitleBack{
		background:#1C1C1C;
		width:100%;
		height:30vw;
		color:#fff;
		margin-top:-5vw;
	
	}

	#TitleBack img{
		width:7vw;
		height:7vw;

		position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);

        margin-top:4vw;

        display: block;
	}

	#autoM{
		height:23vw;
		font-size:3.30vw;
	}

	#textoFuncTit{
		margin-top:10vw;
	}

	#tituloFuncionalidades{
		font-size:5vw;
	}

	#subtituloFuncionalidades{
		font-size:3.40vw;
		margin-top:-4vw;
	}

	.funcBloco{
		display:block;
		text-align: center;
		width:98%;
		margin:0;
	}

	#cadClientes{
		width:100%;
		margin-top: 6vw;
	}

	#visEventos{
		width:100%;
		margin-top:10vw;
	}

	#cadClientes{
		float: none;
	}

	#visEventos{
		float:none;
	}

	.funcBloco{
		padding-right:0;
		padding-left:0;
	}

	.funcBloco h4{
		font-size:3.60vw;
	}

	#cadClientes p{
		font-size:3.30vw;
		padding-right:4.30vw;
		padding-left:4.30vw;
	}

	#cliDatatables p{
		font-size:3.30vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#calcLucro p{
		font-size:3.30vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#agenda p{
		font-size:3.30vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#estEventos p{
		font-size:3.30vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#infoInferior{
		height:6vw;
		text-align: center;
	}

	#infoInferior p{
		/*Configurações de fonte*/
		font-size: 3.30vw;
		margin-top:0;
	}
 }

@media only screen 
  and (min-width: 768px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  	html, body{
		margin:0;
		padding:0;
	}

	.menuHome{
		/*Posição do menu*/
		position: absolute;

		/*Configurações de altura e largura do menu*/
		width: 100%;
		height: 15vw;

		/*Cor da div*/
		background: black;

		/*Maior prioridade para aparecer na frente de outras divs*/
		z-index: 100;
	}

	.menuHome img{
		margin-top:2vw;
		margin-left:2vw;
		width: auto;
		height:11vw;
		position: absolute;
		cursor: pointer;
	}

	/*Conteudo (links e btns) do menu*/
	#contentLink{
		display:none;
	}

	#menuMob{
		margin-top:-2vw;
		display: block;
		z-index:200;
	}

	#menuMob img{
		width: 17vw;
		height:17vw;

		margin-left:80%;
		margin-top:-4.50vw;
		position: absolute;
	}

	#menuMob img:active{
		content: url("../img/logo/menuIconAct.png");
	}

	.quadroTransp{
		position: absolute;
		width:44vw;
		height:44vw;
		background:white;
		margin-left:38vw;
		border-radius:1vw;
		display: none;	
	}

	#menuMob .menuList{
		display:none;
		width: 30vw;
		margin-left:42vw;
	}

	#menuMob .menuList a li{
		width:100%;
		list-style: none;
		position: absolute;
		display: none;
		top:0;
		margin-top:0;
		bottom:0;
		margin-bottom:0;
	}

	#menuMob .menuList a{
		font-size: 3.60vw;
		color: black;
	}

	#slider{
		display: none;
	}

	#sliderMob{
		display:block;

		/*Slider escondido*/
		overflow: hidden;
	}

	#sliderMob figure{
		/*Tamanhos da figure*/
		width:100%;
		height:100%;

		/*Tipo de posição*/
		position: relative;

		/*Tamanho de 100% das imagens juntas*/
		width: 500%;
		margin: 0;
		left: 0;

		/*Animação do slider*/
		animation: 20s slider infinite;
	}

	#sliderMob figure .contentSlideMob img{
		/*Configurações da imagem*/
		width: 20%;
		float: left;

		height:130vw;
		background-attachment: fixed;
		background-size: cover;
	}

	#TitleBack{
		height:50vw;
		color:#fff;
		margin-top:-5vw;
	}

	#TitleBack img{
		width:12vw;
		height:12vw;

		position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translateX(-50%);

        margin-top:4vw;

        display: block;
	}

	#autoM{
		height:56vw;
		font-size:5.30vw;
	}

	#textoFuncTit{
		margin-top:16.40vw;
	}

	#tituloFuncionalidades{
		font-size:6vw;
	}

	#subtituloFuncionalidades{
		font-size:5vw;
		margin-top:-4vw;
	}

	.funcBloco{
		display:block;
		text-align: center;
		width:98%;
		margin:0;
	}

	#cadClientes{
		width:100%;
		margin-top: 6vw;
	}

	#visEventos{
		width:100%;
		margin-top:10vw;
	}

	#cadClientes{
		float: none;
	}

	#visEventos{
		float:none;
	}

	.funcBloco{
		padding-right:0;
		padding-left:0;
	}

	.funcBloco h4{
		font-size:5.50vw;
	}

	#cadClientes p{
		font-size:5vw;
		padding-right:4.30vw;
		padding-left:4.30vw;
	}

	#cliDatatables p{
		font-size:5vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#calcLucro p{
		font-size:5vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#agenda p{
		font-size:5vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#estEventos p{
		font-size:5vw;
		padding-right:6vw;
		padding-left:6vw;
	}

	#infoInferior{
		height:15vw;
		text-align: center;
	}

	#infoInferior p{
		/*Configurações de fonte*/
		font-size: 5vw;
	}
}