body{
	/*Zerando o padding e a margem*/
	margin:0;
	padding:0;

	/*Definindo configurações de plano de fundo*/
	background: url("../img/backgroundLogin/backcanyon.jpg");
	background-attachment: fixed;
	background-size: cover;
}

#back{
	/*Definindo posição*/
	position: absolute;

	/*Altura e largura do botão definidas em VW para a responsividade*/
	width: 4.5vw;
	height:4.5vw;

	/*Configurações da imagem do botão*/
	background: url("../img/backButton/back.png");
	background-size: 100%;

	/*Localizando botão no fundo*/
	margin-left: 1vw;
	margin-top: 1vw;

	/*Tempo de transição*/
	transition: .4s;
}

#back:hover{
	/*Configurações da imagem do botão*/
	background: url("../img/backButton/backHover.png");
	background-size: 100%;
}

#quadro{
	/*Cor de fundo*/
	background:black;

	/*Centralizando conteudo*/
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);

	/*Borda*/
	border-style: solid;
  	border-width: 0.2vw;
  	border-color: #fff;    

  	/*Dimensõe da div*/
  	width:40vw;
  	height:40vw;
}

#centro{
	/*Centralizando div*/
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);

	/*Configurações de fonte usada na pagina*/
	font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
}

h2{
	/*Tamanho da fonte*/
	font-size:2vw;
	color:#fff;
}

form{
	/*Tamanho da fonte*/	
	font-size:1.30vw;
	color:#fff;
}

input[type=text]{
	/*Dimensões do input*/
	width:27vw;
	height:3vw;

	/*Tirando borda padrão do HTML*/
	border:none;
	border-radius:0.30vw;

	/*Espaçamento dentro do input*/
	padding-right:0.50vw;
	padding-left:0.50vw;

	/*Configurações de fonte usada na pagina*/
	font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
	font-size:1.20vw;
}

input[type=submit]{
	/*Dimensões do btn*/
	width:7vw;
	height:3vw;

	/*Tirando borda padrão do HTML*/
	border:none;

	/*Tipo de cursor*/
	cursor:pointer;

	/*Cores*/
	background: #CD0000;
	color: #fff;

	/*Configurações de fonte usada na pagina*/
	font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
	font-size:1.20vw;

	/*Tempo de transição*/
	transition: .3s;
}

input[type=submit]:hover{
	/*Cores*/
	background: #fff;
	color: #CD0000;
}