@media(max-width:480px){
	html, body{
		margin:0;
		padding:0;
	}

	#content{
		display:none;
	}

	#menu{
		height:15vw;
	}

	#menuMob{
		margin-top:3vw;
		display:block;
	}

	.botao img{
		width: 20vw;
		height:20vw;

		margin-left:80%;
		margin-top:-5vw;
		position: absolute;
	}

	#menuMob img:active{
		content: url("../img/logo/menuIconAct.png");
	}

	.quadroTransp{
		position:absolute;
		width:70vw;
		height:60vw;
		background:#fff;
		margin-left:9vw;
		border-radius:1vw;

		display: none;

		border: 0.10vw #000 solid;
	}

	#menuMob .menuList{
		position:absolute;
		width: 70vw;
		margin-left:5vw;
		margin-top:3vw;
	}

	#menuMob .menuList li{
		height:9vw;
		width:100%;
		list-style: none;
		position: relative;
		float: left;
		color:black;	
		font-size:5vw;
		font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
		display:none;
	}

	#menu input[type=submit]{
		background:none;
		width:auto;
		height:auto;
		margin-right: 0;
		margin-left: 0;
		transition: none;
		color: #000;
		font-size:5vw;
		font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
	}

	#menu input[type=submit]:hover{
		background:none;
		width:auto;
		height:auto;
		margin-right: 0;
		margin-left: 0;
		transition: none;
		color: black;
		font-size:5vw;
		font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
		cursor:normal;
	}

	#menu input[type=submit]:active{
		background:none;
		width:auto;
		height:auto;
		margin-right: 0;
		margin-left: 0;
		transition: none;
		color: black;
		font-size:5vw;
		border:none;
	}
}

@media (min-width: 481px) and (max-width: 767px){
	html, body{
		margin:0;
		padding:0;
	}

	#content{
		display:none;
	}

	#menu{
		height:10vw;
	}

	#menuMob{
		margin-top:3vw;
		display:block;
	}

	.botao img{
		width: 14vw;
		height:14vw;

		margin-left:80%;
		margin-top:-5vw;
		position: absolute;
	}

	#menuMob img:active{
		content: url("../img/logo/menuIconAct.png");
	}

	.quadroTransp{
		position:absolute;
		width:50vw;
		height:55vw;
		background:#fff;
		margin-left:9vw;
		border-radius:1vw;

		display: none;

		border: 0.10vw #000 solid;
	}

	#menuMob .menuList{
		position:absolute;
		width: 70vw;
		margin-left:5vw;
		margin-top:3vw;
	}

	#menuMob .menuList li{
		height:9vw;
		width:100%;
		list-style: none;
		position: relative;
		float: left;
		color:black;	
		font-size:3vw;
		font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
		display:none;
	}

	#menu input[type=submit]{
		background:none;
		width:auto;
		height:auto;
		margin-right: 0;
		margin-left: 0;
		transition: none;
		color: #000;
		font-size:5vw;
		font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
	}

	#menu input[type=submit]:hover{
		background:none;
		width:auto;
		height:auto;
		margin-right: 0;
		margin-left: 0;
		transition: none;
		color: black;
		font-size:5vw;
		font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
		cursor:normal;
	}

	#menu input[type=submit]:active{
		background:none;
		width:auto;
		height:auto;
		margin-right: 0;
		margin-left: 0;
		transition: none;
		color: black;
		font-size:5vw;
	}
}

@media only screen 
  and (min-width: 768px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5){
  	html, body{
		margin:0;
		padding:0;
	}

	#content{
		display:none;
	}

	#menu{
		height:15vw;
	}

	#menuMob{
		margin-top:3vw;
		display:block;
	}

	.botao img{
		width: 20vw;
		height:20vw;

		margin-left:80%;
		margin-top:-5vw;
		position: absolute;
	}

	#menuMob img:active{
		content: url("../img/logo/menuIconAct.png");
	}

	.quadroTransp{
		position:absolute;
		width:50vw;
		height:55vw;
		background:#fff;
		margin-left:9vw;
		border-radius:1vw;

		display: none;

		border: 0.10vw #000 solid;
	}

	#menuMob .menuList{
		position:absolute;
		width: 70vw;
		margin-left:5vw;
		margin-top:3vw;
	}

	#menuMob .menuList li{
		height:9vw;
		width:100%;
		list-style: none;
		position: relative;
		float: left;
		color:black;	
		font-size:3vw;
		font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
		display:none;
	}

	#menu input[type=submit]{
		background:none;
		width:auto;
		height:auto;
		margin-right: 0;
		margin-left: 0;
		transition: none;
		color: #000;
		font-size:5vw;
		font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
	}

	#menu input[type=submit]:hover{
		background:none;
		width:auto;
		height:auto;
		margin-right: 0;
		margin-left: 0;
		transition: none;
		color: black;
		font-size:5vw;
		font-family: 'Montserrat', 'sans-serif', 'Century Gothic';
		cursor:normal;
	}

	#menu input[type=submit]:active{
		background:none;
		width:auto;
		height:auto;
		margin-right: 0;
		margin-left: 0;
		transition: none;
		color: black;
		font-size:5vw;
	}
}